@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.button {
  & {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    
    &:focus { outline: 2px dotted #55d7dc; }
  }
  
  &{
    @include btn-border-drawing($color-green, $color-white, 3px, bottom, right);
  }
  
  
  

  &.button-rectangle {
    border-radius: 0;
  }
  &.button-rounded {
    border-radius: $border-radius;
  }

  &.button-green {
    background-color: $color-green;
  }
  &.button-white {
    background-color: $color-white;
  }
  &.button-gray {
    background-color: $color-gray;
  }
  &.button-transparent {
    background-color: transparent;
  }
}
